// NAVIGATION BAR + LOGO IMG (copied from index.html)
nav {
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: bolder;
  opacity: 99%;

  img {
    width: 130px;
    max-width: 150px;
    height: auto;
    margin: 0;
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 24px; 
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none; //removes the bullets

    li a{
      list-style: none;
      margin: 0;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1.5rem;
    &:hover{
        color: lime;}
    }
  }
}