// MY COLOR VARIABLES
$color1: #865620;
$color2: #686328;
$color3: #9ebaa6;
$color4: #53502e;
$color5: #0f3a03;

// BODY
body {
  background-image: url(../assets/images/dino-background.png);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; // ensure footer can sit at bottom
  font-family: sans-serif;
}

// NAVIGATION BAR + LOGO IMG
nav {
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: "Momo Trust Display", sans-serif;

  img {
    width: 120px;
    max-width: 150px;
    height: auto;
    margin: 0;
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 24px; 
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none; //removes the bullets

    li {
      list-style: none;
      margin: 0;
      color: rgb(0, 0, 0);
      font-weight: 700;
      cursor: pointer;
    }
  }
}

// HEADER
header {
  background-color: $color4;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  padding: 18px 10px;

  h1 {
    margin: 0;
    color: $color3;
  }
}

// MAIN CONTENT - BUTTON
main {
  flex: 1; // pushes footer to bottom
  display: flex;
  justify-content: center;
  align-items: center; // vertical centering
  padding: 24px;
}

.calc-btn {
  display: inline-block;
  background-color: $color3;
  padding: 15px 30px;
  font-size: 2rem;
  border-radius: 40px;
  font-family: "Luckiest Guy", cursive;
  text-align: center;

  a {
    text-decoration: none; // removes underline
    color: $color5;
  }

  &:hover a {
    color: lime;
  }
}

// FOOTER + LOGO IMG
footer {
  background-color: $color2;
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  padding: 0px 20px;

  img {
    max-width: 100px;
    height: auto;
    margin: 0 auto 1px;
    display: block;
  }

  p {
    margin: 0 0 25px;
    color: black
  }
}
