// MY VARIABLES
$color1: #865620;
$color2: #686328;
$color3: #9ebaa6;
$color4: #53502e;
$color5: #0f3a03;
$font1: "Luckiest Guy", cursive;

//I copy/pasted my index.scss and added the caluclator and edited the body

// BODY
body {
  background-image: url(/assets/images/red-dino-background.png);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; // ensure footer can sit at bottom
  font-family: sans-serif;
  justify-content: center;
}

// NAVIGATION BAR + LOGO IMG
nav {
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: bolder;
  opacity: 99%;

  img {
    width: 130px;
    max-width: 150px;
    height: auto;
    margin: 0;
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 24px; 
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none; //removes the bullets

    li a{
      list-style: none;
      margin: 0;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1.5rem;
    &:hover{
        color: lime;}
    }
  }
}

// HEADER
header {
  background-color: $color4;
  text-align: center;
  font-family: $font1;
  padding: 18px 10px;
  opacity: 75%;

  h1 {
    margin: 0;
    color: $color3;
  }
}

// MAIN CONTENT
main {
  flex: 1; // pushes footer to bottom
  display: flex;
  justify-content: center;
  align-items: center; // vertical centering
  padding: 24px;
}

//AUDIO
.dino-track{
  opacity: 60%;
  margin: 10px auto 20px;
}

//CALCULATOR
.calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color5;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden; //If equation is really long 
  #display{
    width: 100%;
    padding: 20px;
    font-size: 2.5rem; //affects the display size too
    text-align: left;
    border: none;
    background-color: $color3;
    color: $color3;
  }
.calc-btns{
  display: grid;
  grid-template-columns: repeat(4,1fr); //
  gap: 10px;
  padding: 25px;
button{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: $color3;
  color: rgb(59, 0, 0);
  font-size: 3rem;
  font-family: $font1;
  cursor: pointer;
&:hover{
  background-color: $color2;
  color: white;
  &:active{
  background-color: $color5;
  color: rgb(204, 255, 0);
}
}
}
}
}

// FOOTER + LOGO IMG
footer {
  background-color: $color2;
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  padding: 0px 20px;
  opacity: 99%;

  img {
    max-width: 65px;
    height: auto;
    margin: 0 auto 1px;
    display: block;
  }

  p {
    margin: 0 0 25px;
    color: black
  }
}